## ETL - Cornershop DS Test

In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import datetime
import seaborn as sns
import os
import sys

<center>
    <a href=img><img src = "https://github.com/tiagottmoraes/CS-s-Data-Science-Test/blob/main/entity_mapping.PNG?raw=true" width="800"  />
</center>

In [140]:
## Order_products
filename_ordprod = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/order_products.csv"
df_ordprod = pd.read_csv(filename_ordprod)
df_ordprod.tail(3)

,order_id,product_id,quantity,buy_unit
198497,dcf086aadb08ef7e695fadd723d881a7,c9970c5966ad6399d1c52aef34268699,1.0,UN
198498,f5f76f8fb58cdafe94b41fd836dfcec7,2cdd75fa252b3918918c662922b11b6e,3.0,UN
198499,e7ab48bb94f4790655531345aae6bd96,dd39130d6dfad68251ba147f7477e81b,1.0,UN

In [141]:
print('Unique products listed:', df_ordprod['product_id'].nunique(),'\n'
      'Unique orders listed:', df_ordprod['order_id'].nunique())

Unique products listed: 15422
Unique orders listed: 9978

In [142]:
missing_data_order = df_ordprod.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

order_id
False    198500
Name: order_id, dtype: int64

product_id
False    198500
Name: product_id, dtype: int64

quantity
False    198500
Name: quantity, dtype: int64

buy_unit
False    198500
Name: buy_unit, dtype: int64

In [143]:
## Shopper
filename_shop = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/shoppers.csv"
df_shop = pd.read_csv(filename_shop)
df_shop.tail(3)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
2861,e8482e3ad8bc820ec756566a472b84b1,6c90661e6d2c7579f5ce337c3391dbb9,0.9152,1.47,0.88,4.96
2862,a55a3765a02530a97eb9af7aee327486,6c90661e6d2c7579f5ce337c3391dbb9,0.8695,1.20,0.96,4.80
2863,ed3b2414f4b604298fb86adaaae2ee46,50e13ee63f086c2fe84229348bc91b5b,0.8416,1.48,0.60,4.95

In [144]:
print('Unique shoppers listed:', df_shop['shopper_id'].nunique(),'\n' 
      'Unique seniority listed:', df_shop['seniority'].nunique())

Unique shoppers listed: 2864
Unique seniority listed: 4

In [145]:
df_shop['seniority'].unique()

array(['41dc7c9e385c4d2b6c1f7836973951bf',
       '6c90661e6d2c7579f5ce337c3391dbb9',
       '50e13ee63f086c2fe84229348bc91b5b',
       'bb29b8d0d196b5db5a5350e5e3ae2b1f'], dtype=object)

In [146]:
df_shop.replace('41dc7c9e385c4d2b6c1f7836973951bf', 'A', inplace=True)
df_shop.replace('6c90661e6d2c7579f5ce337c3391dbb9','B', inplace=True)
df_shop.replace('50e13ee63f086c2fe84229348bc91b5b','C', inplace=True)
df_shop.replace('bb29b8d0d196b5db5a5350e5e3ae2b1f','D', inplace=True)

In [147]:
df_shop.sample(2)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
1472,822a2adfed17b0bf9135e96b9cfd443f,B,0.8876,0.83,0.92,4.92
2240,30aaf4254244442a679a45c3035cd63d,A,0.8561,2.12,0.96,4.84

In [148]:
missing_data_order = df_shop.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

shopper_id
False    2864
Name: shopper_id, dtype: int64

seniority
False    2864
Name: seniority, dtype: int64

found_rate
False    2763
True      101
Name: found_rate, dtype: int64

picking_speed
False    2864
Name: picking_speed, dtype: int64

accepted_rate
False    2837
True       27
Name: accepted_rate, dtype: int64

rating
False    2780
True       84
Name: rating, dtype: int64

In [149]:
## Store
filename_store = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/storebranch.csv"
df_store = pd.read_csv(filename_store)
df_store.sample(3)

,store_branch_id,store_id,lat,lng
97,6cd67d9b6f0150c77bda2eda01ae484c,072b030ba126b2f4b2374f342be9ed44,-33.422551,-70.564469
92,62889e73828c756c961c5a6d6c01a463,34173cb38f07f89ddbebc2ac9128303f,-33.518762,-70.599287
468,2dffbc474aa176b6dc957938c15d0c8b,a87ff679a2f3e71d9181a67b7542122c,-29.916097,-71.258196

In [150]:
df_store = df_store.rename(columns={'lat':'store_lat', 'lng':'store_long'})

In [151]:
print('Unique store_branch listed:', df_store['store_branch_id'].nunique(),'\n' 'Unique store listed:', df_store['store_id'].nunique())

Unique store_branch listed: 476
Unique store listed: 221

In [152]:
missing_data_order = df_store.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

store_branch_id
False    476
Name: store_branch_id, dtype: int64

store_id
False    476
Name: store_id, dtype: int64

store_lat
False    476
Name: store_lat, dtype: int64

store_long
False    476
Name: store_long, dtype: int64

In [153]:
## ORDERS - LABEL
filename_ORDER = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/orders.csv"
df_ORDER = pd.read_csv(filename_ORDER)
df_ORDER.sample(3)

,order_id,lat,lng,promised_time,on_demand,shopper_id,store_branch_id,total_minutes
6094,6eec37e9f682bc75f33f9057cb616e1c,-33.318143,-70.644444,2019-10-19 16:00:00+00:00,False,ecd4f8431124002d44c30b6ec69c24a9,7ef605fc8dba5425d6965fbd4c8fbe1f,94.956919
9844,f43a37b7074945152be3b7e86faa1c46,-33.359292,-70.538632,2019-10-18 20:25:00+00:00,True,976345f82cbfc06bc3694c670571c04a,1679091c5a880faf6fb5e6087eb1b2dc,NaN
3828,28785999ffa1c023bb239ead0b1e5a84,-33.413806,-70.598500,2019-10-19 18:00:00+00:00,False,7b1893dfd2cac3d7c982fb2d7cbbb529,4e87337f366f72daa424dae11df0538c,30.807622

In [154]:
df_ORDER = df_ORDER.rename(columns={'lat':'delivery_lat', 'lng':'delivery_long'})

In [155]:
missing_data_order = df_ORDER.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

order_id
False    10000
Name: order_id, dtype: int64

delivery_lat
False    10000
Name: delivery_lat, dtype: int64

delivery_long
False    10000
Name: delivery_long, dtype: int64

promised_time
False    10000
Name: promised_time, dtype: int64

on_demand
False    10000
Name: on_demand, dtype: int64

shopper_id
False    10000
Name: shopper_id, dtype: int64

store_branch_id
False    10000
Name: store_branch_id, dtype: int64

total_minutes
False    8000
True     2000
Name: total_minutes, dtype: int64

In [156]:
df_merge = pd.merge(df_ORDER, df_ordprod, on='order_id')

In [157]:
df_merge = pd.merge(df_merge, df_shop, on='shopper_id')

In [158]:
df_merge = pd.merge(df_merge, df_store, on='store_branch_id')

In [159]:
pd.set_option('display.max_columns', None)
df_merge.sample(2)

,order_id,delivery_lat,delivery_long,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,product_id,quantity,buy_unit,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,store_lat,store_long
162781,3693c2ca46e2bcb06d9e4240c80bb624,-33.517349,-70.605125,2019-10-19 19:00:00+00:00,False,5094ff995ae3111c22b735ddbed0e899,e4bb4c5173c2ce17fd8fcd40041c068f,101.260174,f9c7f9f618f2e2350bb04e3b8323bf82,4.0,UN,B,0.8937,1.26,1.0,5.0,c4ca4238a0b923820dcc509a6f75849b,-33.484136,-70.621945
190512,be91b2b3a56f3ce593acde9cb372c5ee,-33.027645,-71.532769,2019-10-19 14:30:00+00:00,True,79c82f85a1edb258dbc7932e2bc5fd4c,fc221309746013ac554571fbd180e1c8,106.358252,bf11797d44d2a5334da1f7957b1e371f,1.0,UN,C,NaN,2.41,0.4,NaN,c4ca4238a0b923820dcc509a6f75849b,-33.025860,-71.547009

In [168]:
df_TEST = df_merge.loc[(pd.isna(df_merge['total_minutes']))]
df_TEST.to_csv('df_TEST.csv')