<left>
    <a href=img><img src = "https://github.com/tiagottmoraes/CS-s-Data-Science-Test/blob/main/Misc/1c86bfb3-cab0-4255-99bf-24c5488d888a-1632765661247.png?raw=true" width="400"  />
</left>

## ETL - Cornershop DS Test

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import datetime
import seaborn as sns
import os
import sys

<center>
    <a href=img><img src = "https://github.com/tiagottmoraes/CS-s-Data-Science-Test/blob/main/entity_mapping.PNG?raw=true" width="800"  />
</center>

In [40]:
## Order_products
filename_ordprod = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/order_products.csv"
df_ordprod = pd.read_csv(filename_ordprod)
df_ordprod.head()

,order_id,product_id,quantity,buy_unit
0,47099653730fb1b76537fc10ad876255,c1244453d731c77416cb4766e3bd76cb,1.0,UN
1,689d8866915acf87e851c2591a23a82f,43cc2b100bec640fe563cd16f2db669f,1.0,KG
2,f26d16bf6f38c9e31d0be877f4013a9e,b8f880759d014134e272d881d49989a2,1.0,UN
3,161ccc896835ab41761b0e726becb6b1,dbc062b9bef805d27a6f4bea7edfe1f1,1.0,UN
4,4713deca10bb5db98fae150b52d61fc0,93a060f269bb569398921100f84c519a,2.0,UN

In [41]:
print('Unique products listed:', df_ordprod['product_id'].nunique(),'\n'
      'Unique orders listed:', df_ordprod['order_id'].nunique())

Unique products listed: 15422
Unique orders listed: 9978

In [42]:
df_ordprod = df_ordprod.groupby(["order_id"], as_index=False).count()
df_ordprod.rename(columns={'product_id':'order_size'}, inplace=True)
df_ordprod.head()

                           order_id  order_size  quantity  buy_unit
0  0004a3841c1eeb6c6e77585a941c21e0           4         4         4
1  0005a6ecbbde1e8d273f5577bcff2c9c           1         1         1
2  0007baeb6700fc203be2d1f1e11222d7          22        22        22
3  0012195a6a8ca9ec308a3010eeea8ebc          11        11        11
4  0013011fa72b498b9feb84f4e7104980          44        44        44

In [43]:
missing_data_order = df_ordprod.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

order_id
False    9978
Name: order_id, dtype: int64

order_size
False    9978
Name: order_size, dtype: int64

quantity
False    9978
Name: quantity, dtype: int64

buy_unit
False    9978
Name: buy_unit, dtype: int64

In [44]:
## Shopper
filename_shop = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/shoppers.csv"
df_shop = pd.read_csv(filename_shop)
df_shop.tail(3)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
2861,e8482e3ad8bc820ec756566a472b84b1,6c90661e6d2c7579f5ce337c3391dbb9,0.9152,1.47,0.88,4.96
2862,a55a3765a02530a97eb9af7aee327486,6c90661e6d2c7579f5ce337c3391dbb9,0.8695,1.20,0.96,4.80
2863,ed3b2414f4b604298fb86adaaae2ee46,50e13ee63f086c2fe84229348bc91b5b,0.8416,1.48,0.60,4.95

In [45]:
print('Unique shoppers listed:', df_shop['shopper_id'].nunique(),'\n' 
      'Unique seniority listed:', df_shop['seniority'].nunique())

Unique shoppers listed: 2864
Unique seniority listed: 4

In [46]:
df_shop['seniority'].unique()

array(['41dc7c9e385c4d2b6c1f7836973951bf',
       '6c90661e6d2c7579f5ce337c3391dbb9',
       '50e13ee63f086c2fe84229348bc91b5b',
       'bb29b8d0d196b5db5a5350e5e3ae2b1f'], dtype=object)

In [47]:
df_shop.replace('41dc7c9e385c4d2b6c1f7836973951bf', 'T', inplace=True)
df_shop.replace('6c90661e6d2c7579f5ce337c3391dbb9','I', inplace=True)
df_shop.replace('50e13ee63f086c2fe84229348bc91b5b','M', inplace=True)
df_shop.replace('bb29b8d0d196b5db5a5350e5e3ae2b1f','W', inplace=True)

In [48]:
df_shop.sample(2)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
151,70dd746ffdfbde9158da4189d05669e9,I,0.8637,1.08,1.00,4.76
792,8dc21232395286ec4fdc191c37579442,I,0.8394,1.54,0.88,4.96

In [49]:
missing_data_order = df_shop.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

shopper_id
False    2864
Name: shopper_id, dtype: int64

seniority
False    2864
Name: seniority, dtype: int64

found_rate
False    2763
True      101
Name: found_rate, dtype: int64

picking_speed
False    2864
Name: picking_speed, dtype: int64

accepted_rate
False    2837
True       27
Name: accepted_rate, dtype: int64

rating
False    2780
True       84
Name: rating, dtype: int64

In [50]:
## Store
filename_store = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/storebranch.csv"
df_store = pd.read_csv(filename_store)
df_store.sample(3)

,store_branch_id,store_id,lat,lng
83,670e8a43b246801ca1eaca97b3e19189,d1fe173d08e959397adf34b1d77e88d7,-33.417896,-70.607532
204,38913e1d6a7b94cb0f55994f679f5956,e369853df766fa44e1ed0ff613f563bd,-36.827596,-73.049276
56,370bfb31abd222b582245b977ea5f25a,6e0721b2c6977135b916ef286bcb49ec,-33.458603,-70.605751

In [51]:
df_store = df_store.rename(columns={'lat':'store_lat', 'lng':'store_long'})

In [52]:
print('Unique store_branch listed:', df_store['store_branch_id'].nunique(),'\n' 'Unique store listed:', df_store['store_id'].nunique())

Unique store_branch listed: 476
Unique store listed: 221

In [53]:
missing_data_order = df_store.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

store_branch_id
False    476
Name: store_branch_id, dtype: int64

store_id
False    476
Name: store_id, dtype: int64

store_lat
False    476
Name: store_lat, dtype: int64

store_long
False    476
Name: store_long, dtype: int64

In [54]:
## ORDERS - LABEL
filename_ORDER = "https://raw.githubusercontent.com/tiagottmoraes/CS-s-Data-Science-Test/main/data/orders.csv"
df_ORDER = pd.read_csv(filename_ORDER)
df_ORDER.sample(3)

,order_id,lat,lng,promised_time,on_demand,shopper_id,store_branch_id,total_minutes
9351,5d2501a5e9155f732467f223592bb0db,-33.393904,-70.579034,2019-10-19 13:00:00+00:00,False,9c70d4330fe1d4d55220be936d94327e,1f0e3dad99908345f7439f8ffabdffc4,NaN
7353,873ef0e6920c32779e5d661775fb47b9,-33.430504,-70.596444,2019-10-19 02:00:00+00:00,False,f1bded9b91455310210c1615b6537f8a,5751ec3e9a4feab575962e78e006250d,61.252997
1434,23ca350c79c0dbc70a482853848a8c26,-33.265215,-70.662304,2019-10-19 15:38:00+00:00,True,1209334a28dbf06a7072e8abfba352fa,7ef605fc8dba5425d6965fbd4c8fbe1f,52.828519

In [55]:
df_ORDER = df_ORDER.rename(columns={'lat':'delivery_lat', 'lng':'delivery_long'})

In [56]:
missing_data_order = df_ORDER.isnull()
for column in missing_data_order.columns.values.tolist():
    print(column)
    print(missing_data_order[column].value_counts())
    print("")

order_id
False    10000
Name: order_id, dtype: int64

delivery_lat
False    10000
Name: delivery_lat, dtype: int64

delivery_long
False    10000
Name: delivery_long, dtype: int64

promised_time
False    10000
Name: promised_time, dtype: int64

on_demand
False    10000
Name: on_demand, dtype: int64

shopper_id
False    10000
Name: shopper_id, dtype: int64

store_branch_id
False    10000
Name: store_branch_id, dtype: int64

total_minutes
False    8000
True     2000
Name: total_minutes, dtype: int64

In [57]:
df_merge = pd.merge(df_ORDER, df_ordprod, on='order_id')

In [58]:
df_merge = pd.merge(df_merge, df_shop, on='shopper_id')

In [59]:
df_merge = pd.merge(df_merge, df_store, on='store_branch_id')

In [60]:
pd.set_option('display.max_columns', None)
df_merge.sample(2)

,order_id,delivery_lat,delivery_long,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,order_size,quantity,buy_unit,seniority,found_rate,picking_speed,accepted_rate,rating,store_id,store_lat,store_long
9793,7b0968b6c2f4005c610189daed4cb539,-33.376340,-70.551030,2019-10-19 19:00:00+00:00,False,deab3cbcc3ec4063b7eac6033d76b8bf,c215b446bcdf956d848a8419c1b5a920,37.636804,1,1,1,I,0.8663,1.00,1.000000,4.92,41ae36ecb9b3eee609d05b90c14222fb,-33.424688,-70.581248
7047,1085db45141dea3d8a4113d3ef3311c0,-33.456306,-70.658099,2019-10-19 01:00:00+00:00,False,fe3c9f683121b6f5375e4563374001c3,3871bd64012152bfb53fdf04b401193f,148.336725,41,41,41,T,0.8199,2.51,0.941176,4.83,c4ca4238a0b923820dcc509a6f75849b,-33.451695,-70.692160

In [61]:
df_TEST = df_merge.loc[(pd.isna(df_merge['total_minutes']))]
df_TEST.to_csv('df_TEST.csv')

In [62]:
df_merge['on_demand'].value_counts()

False    5442
True     4536
Name: on_demand, dtype: int64

In [63]:
df_merge.drop(['promised_time', 'store_id','quantity', 'buy_unit'], axis=1, inplace=True)

In [64]:
df_merge = df_merge.reindex(['order_id','delivery_lat','delivery_long','store_branch_id','store_lat','store_long','shopper_id','on_demand','seniority', 'order_size', 'found_rate','picking_speed','accepted_rate','rating', 'total_minutes'], axis=1)

In [65]:
df_merge.sample(2)

,order_id,delivery_lat,delivery_long,store_branch_id,store_lat,store_long,shopper_id,on_demand,seniority,order_size,found_rate,picking_speed,accepted_rate,rating,total_minutes
9268,e47788ba1fc7376688a5f9837abd4624,-33.434524,-70.572432,4ea6a546c19499318091a9df40a13181,-33.412419,-70.579070,c1fb26dbd4f09a5fb001d2fa521ec64d,False,T,3,0.8667,2.43,0.96,4.84,48.174585
2424,0d0678b430fb06d091ff695d53c7138d,-33.322136,-70.567584,1f0e3dad99908345f7439f8ffabdffc4,-33.386547,-70.568075,a950bb7f44cf4253538140e02ae33fb9,False,T,25,0.8770,2.17,1.00,4.96,99.063378

In [66]:
print(" \nTotal number of NaN items present in the columns of the DataFrame 'df_merge': \n\n", df_merge.isnull().sum())

Total number of NaN items present in the columns of the DataFrame 'df_merge':

 order_id              0
delivery_lat          0
delivery_long         0
store_branch_id       0
store_lat             0
store_long            0
shopper_id            0
on_demand             0
seniority             0
order_size            0
found_rate          199
picking_speed         0
accepted_rate        46
rating              162
total_minutes      1995
dtype: int64

In [67]:
df_merge.dtypes

order_id            object
delivery_lat       float64
delivery_long      float64
store_branch_id     object
store_lat          float64
store_long         float64
shopper_id          object
on_demand             bool
seniority           object
order_size           int64
found_rate         float64
picking_speed      float64
accepted_rate      float64
rating             float64
total_minutes      float64
dtype: object

In [68]:
# calculating the average
avg_found = df_merge['found_rate'].mean(axis=0)
avg_accept = df_merge['accepted_rate'].mean(axis=0)
avg_rate = df_merge['rating'].mean(axis=0)
print("Average of found_rate:", avg_found )
print("Average of accepted_rate:", avg_accept )
print("Average of rating:", avg_rate )

Average of found_rate: 0.8633177727784027
Average of accepted_rate: 0.9170133784336325
Average of rating: 4.849341890790547

In [69]:
# replacing the NaN with the average values
df_merge['found_rate'].replace(np.nan, avg_found, inplace=True)
df_merge['accepted_rate'].replace(np.nan, avg_accept, inplace=True)
df_merge['rating'].replace(np.nan, avg_rate, inplace=True)

In [70]:
print(" \nTotal number of NaN items present in the columns of the DataFrame 'df_merge': \n\n", df_merge.isnull().sum())

Total number of NaN items present in the columns of the DataFrame 'df_merge':

 order_id              0
delivery_lat          0
delivery_long         0
store_branch_id       0
store_lat             0
store_long            0
shopper_id            0
on_demand             0
seniority             0
order_size            0
found_rate            0
picking_speed         0
accepted_rate         0
rating                0
total_minutes      1995
dtype: int64

In [71]:
from geopy import Point
from geopy.distance import distance

df_merge['delivery_coord'] = df_merge.apply(lambda row: Point(latitude=row['delivery_lat'], longitude=row['delivery_long']), axis=1)
df_merge['store_coord'] = df_merge.apply(lambda row: Point(latitude=row['store_lat'], longitude=row['store_long']), axis=1)

In [72]:
df_merge['distance_km'] = df_merge.apply(lambda row: distance(row['delivery_coord'], row['store_coord']).km , axis=1)

In [73]:
df_merge.drop(['delivery_lat','delivery_long','store_lat','store_long','delivery_coord', 'store_coord'], axis=1, inplace=True)
df_merge = df_merge.reindex(['order_id','store_branch_id','distance_km','shopper_id','on_demand','seniority', 'order_size', 'found_rate','picking_speed','accepted_rate','rating', 'total_minutes'], axis=1)
df_merge.sample(2)

,order_id,store_branch_id,distance_km,shopper_id,on_demand,seniority,order_size,found_rate,picking_speed,accepted_rate,rating,total_minutes
265,6da913f1948ae412b1e3843ec09fe8e0,45fbc6d3e05ebd93369ce542e8f2322d,3.901431,c62fa64bbba97382f77b8c4a3c507fc4,True,T,6,0.8725,2.80,0.88,4.88,45.419323
1464,aafc765551d9ffe7dadde9f79cc10663,1679091c5a880faf6fb5e6087eb1b2dc,4.569004,dbab5f4147fb719554010645dcfcd44c,False,I,104,0.8366,1.81,1.00,4.52,229.031673

In [74]:
df_TEST = df_merge.loc[(pd.isna(df_merge['total_minutes']))]
df_TEST.to_csv('df_TEST.csv')

In [75]:
df_TRAIN = df_merge.loc[(pd.notna(df_merge['total_minutes']))]
df_TRAIN.to_csv('df_TRAIN.csv')

In [76]:
df_TRAIN.sample(2)

,order_id,store_branch_id,distance_km,shopper_id,on_demand,seniority,order_size,found_rate,picking_speed,accepted_rate,rating,total_minutes
3240,7fc782a82e8c75f83d077478359e0ee1,1f0e3dad99908345f7439f8ffabdffc4,1.367594,45c0e362f8d52c3969805f6edef08aad,True,I,10,0.8769,1.32,0.92,4.92,30.99782
4619,f0941968ba1a154b87fd11482bbfd134,c4ca4238a0b923820dcc509a6f75849b,1.637458,8e9c3d057240e3d1308f47d58fd71e69,True,I,22,0.8644,1.43,1.00,4.96,75.10325